.footer {
  display: flex;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;

    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
      padding: 0.5rem;
    }

    .links {
      @media (max-width: $mantine-breakpoint-sm) {
        margin-top: var(--mantine-spacing-sm);
      }
    }
  }
}
