.root {
  padding-top: mantine.rem(80px);
  padding-bottom: mantine.rem(80px);

  .mobileImage {
    @media (min-width: 48em) {
      display: none;
    }
  }

  .title {
    font-weight: 900;
    font-size: mantine.rem(34px);
    margin-bottom: var(--mantine-spacing-md);
    font-family: Greycliff CF, var(--mantine-font-family);

    @media (max-width: mantine.$mantine-breakpoint-sm) {
      font-size: mantine.rem(32px);
    }
  }

  .control {
    @media (max-width: mantine.$mantine-breakpoint-sm) {
      width: 100%;
    }
  }

  .desktopImage {
    @media (max-width: 47.99em) {
      display: none;
    }
  }
}
