.user {
  border-radius: 50%;
  transition: box-shadow 0.3s;

  &:hover:not(.active) {
    box-shadow: 0 0 0 4px
      light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
  }
}

[dir='ltr'] .user {
  margin-left: 1.5rem;
}

[dir='rtl'] .user {
  margin-right: 1.5rem;
}

.active {
  box-shadow: 0 0 0 4px
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-7));
}

.username {
  font-size: 0.8rem;
  font-weight: 500;
}

.email {
  font-size: 0.7rem;
  font-weight: 200;
}
